/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --cell-height: 3em;
}

html, body {
  overflow-x: hidden;
}

body {
  counter-reset: xAxis yAxis;
  counter-increment: xAxis -1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.application {
  display: grid;
  gap: 20px;
  grid-template: "header" 8em "middle" auto "output" 3em;
}

.title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  padding-top: 1em;
  font-size: larger;
  font-weight: bold;
  font-size: x-large;
}

.instructions {
  text-align: center;
  grid-area: header;
}
.instructions > span {
  width: 100%;
  display: inline-block;
  margin: 0px;
  font-size: 0.8em;
  word-wrap: break-word;
}

.middle {
  text-align: center;
  background-color: #efffc4;
  padding-bottom: 2em;
  grid-area: middle;
}

.bike {
  position: relative;
  top: 50%;
}

/* GRID */
table {
  margin: auto;
  padding: 0px;
  border-collapse: collapse;
  /* table-layout:fixed; */
}

td {
  text-align: center;
  padding: 0;
  margin: 0;
  /* display: inline-block; */
  height: var(--cell-height) !important;
  width: var(--cell-height) !important;
  border: black 1px solid;
  padding: 0px;
  position: relative;
}

td.x-axis::before {
  counter-increment: xAxis;
  content: counter(xAxis);
  position: relative;
  left: 35%;
  bottom: -80%;
}

td.y-axis::before {
  content: attr(data-y-axis);
  position: relative;
  left: -75%;
  /* bottom: calc(-1 * 80%); */
}

.help-commands {
  margin: 1em;
}
.help-commands > ul {
  list-style: none;
}
.help-commands > ul > li {
  padding: 20px;
  border: 1px solid red;
  float: left;
}

.command-usage {
  background-color: #8a8a8a;
  border: none;
  color: white;
  padding: 0.5em;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.5em;
}

.input {
  text-align: center;
  grid-area: input;
}

form {
  display: inline-block;
  width: fit-content;
}

input[type=submit] {
  background-color: white;
  border: black solid 1px;
  color: black;
  border-radius: 2px;
  padding: 0 2em;
  text-decoration: none;
  cursor: pointer;
  font-size: 2em;
  width: auto;
}

.command {
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  font-weight: 400;
  color: gray;
  background-color: #4a4a4a;
  width: fit-content;
  margin: auto;
  padding: 0.3em;
  border-radius: 1em;
  position: relative;
  top: 10px;
}

textarea {
  width: 60%;
  height: max-content;
}

.output-box {
  text-align: center;
  border-top: grey 1px dashed;
  padding: 3em;
  width: 100%;
}

.output {
  color: #979797;
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  font-weight: 400;
  grid-area: output;
}

.output-log {
  float: left;
}

.output-debug {
  float: left;
  text-align: left;
  /* font-size: 0.5em; */
}

.output-log-error {
  float: left;
  color: #ff3434;
}

/* Add custom styles here */

/*# sourceMappingURL=main.css.map */
