.input {
    text-align: center;
    float: left;
    width:50%;
}

input[type=submit] {
    background-color: rgb(131, 131, 131);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;  
    font-size: 2em;
}

.command {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: 400;
    color: gray;
    background-color: #4a4a4a;
    width: fit-content;
    margin: auto;
    padding: 0.3em;
    border-radius: 1em;
    position: relative;
    top: 10px;
}

textarea {
    width: 60%;
    height: max-content;
}
